
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<i class="far fa-bell fa-3x"></i>
<span font-size= "50px" class="flaticon-alarm"></span>
@foreach (var project in @ViewBag.Projects)
{
    <p> @project.Name</p>
}

@foreach (var not in @ViewBag.Notifications)
{
    <a href=@not.Action> @not.Content</a>
}